extends ../layout/base
block content
    section.content-header
        h1
            | Edit Customer
            small menu for editing customer data
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard
                    | Level
            li.active Here
    section.content
        .box
            .box-header.with-border
                h3.box-title
                    | Customer
                .box-tools.pull-right
                    button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
                        i.fa.fa-minus

            .box-body
                form(role='form',method='post' action='/customers/edit/#{(id == undefined) ? data.id : id}')
                    .row

                        .col-xs-6
                            .box-body
                                - if (messages.msg_error)
                                .alert.alert-danger.alert-dismissable
                                    button.close(type='button', data-dismiss='alert', aria-hidden='true')
                                        | ×
                                    h4
                                        i.icon.fa.fa-ban
                                        | Alert!
                                    | !{messages.msg_error}
                                - if (messages.msg_info)
                                .alert.alert-success.alert-dismissable
                                    button.close(type='button', data-dismiss='alert', aria-hidden='true')
                                        | ×
                                    h4
                                        i.icon.fa.fa-ban
                                        | Success!
                                    | !{messages.msg_info}
                                .form-group
                                    label
                                        | Name
                                    input(type='text',value="#{data.name}",name='name',placeholder='Enter Name', autofocus).form-control
                                .form-group
                                    label
                                        | Address
                                    input(type='text',value="#{ (address == undefined) ? data.address : address }",name='address',placeholder='Enter address').form-control
                                .form-group
                                    label
                                        | Email
                                    input(type='text',value="#{ (email == undefined) ? data.email : email }",name='email',placeholder='Enter Address').form-control
                                .form-group
                                    label
                                        | Phone
                                    input(type='text',value="#{ (phone == undefined) ? data.phone : phone }",name='phone',placeholder='Enter Phone').form-control
                            .box-footer
                                input(type="hidden",name="_method", value="PUT")
                                button(type='submit').btn.btn-primary
                                    i.fa.fa-pencil
                                    |  Edit
                                a(href='/customers').btn.btn-primary.pull-right
                                    | Back