header.main-header
    a(href='/').logo
        span.logo-mini
            <b>A</b> LT
        span.logo-lg
            <b>Admin</b> LT
    nav(role='navigation').navbar.navbar-static-top
        a(href='#', role='button', data-toggle='offcanvas').sidebar-toggle
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.navbar-custom-menu
            ul.nav.navbar-nav
                li.dropdown.messages-menu
                    a(href='#', data-toggle='dropdown').dropdown-toggle
                        i.fa.fa-envelope-o
                        span.label.label-success
                            | 4
                    ul.dropdown-menu
                        li.header
                            | You have 4 messages
                        li
                            ul.menu
                                li
                                    a(href='#')
                                        .pull-left
                                            img(src='/adminlte/dist/img/user2-160x160.jpg',alt="User image").img-circle
                                        h4
                                            | Support Team
                                            small
                                                i.fa.fa-clock-o    5 mins
                                        p
                                            | Why not buy a new awesome theme?
                        li.footer
                            a(href='#')
                                | See All Messages

                li.dropdown.notifications-menu
                    a(href='#',data-toggle='dropdown').dropdown-toggle
                        i.fa.fa-bell-o
                        span.label.label-warning
                            | 0
                    ul.dropdown-menu
                        li.header
                            | You have 10 notifications
                        li
                            ul.menu
                                li
                                    a(href='#')
                                        i.fa.fa-users.text-aqua
                                        | 5 new members joined today
                        li.footer
                            a(href='#')
                                | View All

                li.dropdown.tasks-menu
                    a(href='#',data-toggle='dropdown').dropdown-toggle
                        i.fa.fa-flag-o
                        span.label.label-danger
                            | 9
                    ul.dropdown-menu
                        li.header
                            | You have 9 tasks
                        li
                            ul.menu
                                li
                                    a(href='#')
                                        h3
                                            | Design some buttons
                                            small.pull-right
                                                | 20%
                                        .progress.xs
                                            .progress-bar.progress-bar-aqua(style='width:20%',role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
                                                span.sr-only
                                                    | 20% Complete
                        li.footer
                            a(href='#')
                                | View all tasks
                li.dropdown.user.user-menu
                    a(href='#',data-toggle='dropdown').dropdown-toggle
                        img(src='/adminlte/dist/img/user2-160x160.jpg',alt='User Image').user-image
                        span.hidden-xs
                            | Alexander Pierce
                    ul.dropdown-menu
                        li.user-header
                            img(src='/adminlte/dist/img/user2-160x160.jpg',alt='User Image').img-circle
                            p
                                | Alexander Pierce - Web Developer
                                small
                                    | Member since Nov. 2012
                        li.user-body
                            .row
                                .col-xs-4.text-center
                                    a(href='#')
                                        | Followers
                                .col-xs-4.text-center
                                    a(href='#')
                                        | Sales
                                .col-xs-4.text-center
                                    a(href='#')
                                        | Friends

                        li.user-footer
                            .pull-left
                                a(href='#').btn.btn-default.btn-flat
                                    | Profile
                            .pull-right
                                a(href='#').btn.btn-default.btn-flat
                                    | Sign out