aside.main-sidebar
    section.sidebar
        .user-panel
            .pull-left.image
                img(src='/adminlte/dist/img/user2-160x160.jpg',alt='User Image').img-circle
            .pull-left.info
                p Alexander Pierces
                a(href='#')
                    i.fa.fa-circle.text-success
                    | Online
        form(action='#',method='get').sidebar-form
            .input-group
                input(type='text', name='q',placeholder='Search...').form-control
                span.input-group-btn
                    button(type='submit', name='search')#search-btn.btn.btn-flat
                        i.fa-fa-search
        ul.sidebar-menu
            li.header
                | Main Navigation
            li.treeview
                a(href='#')
                    i.fa.fa-dashboard
                    span
                        | Dashboard
                    span.pull-right-container
                        i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                    li
                        a(href='#')
                            i.fa.fa-circle-o
                            | Dashboard V1
                    li
                        a(href='#')
                            i.fa.fa-circle-o
                            | Dashboard V2
            li.treeview
                a(href='#')
                    i.fa.fa-files-o
                    span
                        | Layout Options
                    span.pull-right-container
                        span.label.label-primary.pull-right
                            | 4
                ul.treeview-menu
                    li
                        a(href='#')
                            i.fa.fa-circle-o
                            | Top Navigation
                    li
                        a(href='#')
                            i.fa.fa-circle-o
                            | Boxed
                    li
                        a(href='#')
                            i.fa.fa-circle-o
                            | Fixed
                    li
                        a(href='#')
                            i.fa.fa-circle-o
                            | Collapsed Sidebar
            li
                a(href='#')
                    i.fa.fa-th
                    span
                        | Widgets
                    span.pull-right-container
                        small.label.pull-right.bg-green
                            | Hot
            li.treeview
                a(href='#')
                    i.fa.fa-pie-chart
                    span
                        | Chart
                    span.pull-right-container
                        i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                    li
                        a(href='#')
                            i.fa.fa-circle-o
                            | ChartJs
                    li
                        a(href='#')
                            i.fa.fa-circle-o
                            | Morris
                    li
                        a(href='#')
                            i.fa.fa-circle-o
                            | Flot
                    li
                        a(href='#')
                            i.fa.fa-circle-o
                            | ChartJs
                    li
                        a(href='#')
                            i.fa.fa-circle-o
                            | Inline charts
            li.treeview
                a(href='#')
                    i.fa.fa-laptop
                    span
                        | UI Elements
                    span.pull-right-container
                        i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                    li
                        a(href='#')
                            i.fa.fa-circle-o
                            | General
                    li
                        a(href='#')
                            i.fa.fa-circle-o
                            | Icons
                    li
                        a(href='#')
                            i.fa.fa-circle-o
                            | Buttons
                    li
                        a(href='#')
                            i.fa.fa-circle-o
                            | Sliders
                    li
                        a(href='#')
                            i.fa.fa-circle-o
                            | Timeline
                    li
                        a(href='#')
                            i.fa.fa-circle-o
                            | Modals